# Dependencies
/node_modules
/package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime files
/state.json

# Environment
.env

# Auth/Receipts
/auth_info
/receipts

# Other
/dist
/tmp